#root,
body,
html {
  height: 100%;
  margin: 0;
}
body {
  background-color: black;
}
.heading {
  min-height: 30vh;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entryGrid {
  color: black;
  background-color: wheat;
}
/* .portofolioGrid {
  color: black;
  background-color: rgb(168, 32, 22);
}
.largeCap {
  height: 20%;
  background-color: blueviolet;
}
.smallCap {
  background-color: crimson;
}
.swingPick {
  background-color: darkgreen;
} */
